<div class="welcome">
  <div class="container">
    <h2>Welcome to Twicial <small>The New Social Networking System</small></h2>
  </div>
  <p class="welcomeinfo">Twicial is a new social networking system, where you can communicate with your friends and others.</p>
</div>