/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.alert {
  margin-top: 10px;
}

a .active {
  background-color: #8F00A6;
}

a .active:hover {
  background-color: green;
}

/* NavBar */

#cssmenu ul #brand {
  font-family: 'Syncopate', sans-serif;
  color: white;
}

#cssmenu ul #brand:hover {
  background-color: #8F00A6;
}

#cssmenu {
  width: auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}

#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}

#cssmenu ul {
  background: black;
}

#cssmenu ul > li {
  float: left;
  list-style: none;
}

#cssmenu ul > li > a {
  display: block;
  text-decoration: none;
  padding: 15px 44px;
  position: relative;
}

#cssmenu ul > li > a:hover {
  background: #696969;
  -webkit-transition: all ease .3s;
}

#cssmenu ul > li > a:hover:before {
  content: '';
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  opacity: .2;
}

#cssmenu ul > li > a:hover:after {
  content: '';
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -1px;
  opacity: .2;
}

#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

#cssmenu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

#cssmenu > ul > li > ul {
  width: 178px;
  position: absolute;
}
#cssmenu > ul > li > ul > li {
  float: none;
  position: relative;
}

#cssmenu > ul > li > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

#cssmenu > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}

#cssmenu > ul > li > ul > li > ul {
  left: 150px;
  top: 1px;
  width: 150px;
}

#cssmenu > ul > li > ul > li > ul > li {
  float: none;
}
